<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Album example · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./public/css/estilo.css">


    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>

    
  </head>
  <body>
    
<header>
  <div class="collapse bg-dark" id="navbarHeader" style="background-image: url(https://harttohart.com/wp-content/uploads/2017/12/gradient-black-background-wallpaper-1.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">¿Que es esto?</h4>
          <p class="text-muted">El objetivo de esta actividad es conectar una base de datos noSQL con una reevista de multimedia donde nosotros tuvieramos el control total de las noticias a presentar. Esta Aplicacion fue realizada con MongoDB, JavaScript, Html5 y boostrap</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contacto</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.linkedin.com/in/sabas-rocha-galvis-09144b20b/" class="text-white">LinkedIn Sabas Rocha</a></li>
            <li><a href="https://www.linkedin.com/in/nicolas-rozo-29b85923b/" class="text-white">LinkedIn Nicolas Rozo</a></li>
            <li><a href="malito:sabasrochagal@gmail.com?" class="text-white">Email</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Revista Multimedia</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>


<main style="background-image: url(https://bangsaid.com/wp-content/uploads/2015/06/background-image-repeat-17-cool-hd-background-and-wallpaper.png);">

  <section class="py-5 text-center container" id="bgfondo">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">🔎 Buscador 🔍</h1>
        <p class="lead text">Aqui podras encontraras todas las noticias relacionadas con la tecnologia, Ciencia, Economia, Inovvacion con multimedia 😎, puedes filtrarlas por secciones y ediciones 🔍</p>
        <p>
        </p><a href="/" class="btn btn-primary my-2">ADMINISTRADOR DE NOTICIAS</a><br>
        <label for="titulo">Secciones creadas por los usuarios</label>
        <form action="/revista/seccion" method="post">
          <select name="seccion" class="form-control">
            <option></option>
            @each(noticia in notis)
             <option>{{noticia.seccion}}</option>
            @endeach
        </select>
          <br>
          <label for="titulo">Ediciones creadas por los usuarios</label>
          <select name="edicion" class="form-control">
            <option></option>
            @each(noticia in notis)
             <option>{{noticia.edicion}}</option>
            @endeach
        </select>
          <br>
          <button class="btn btn-outline-info" type="submit">BUSCAR</button>
        </form>
        </p>
      </div>
    </div>
  </section>

        <div class="container">
                <div class="col">
                    <div class="card-deck">
                        @each(noticia in notis)
                        <div class="mx-auto col">
                            <div class="card" style="width: 100%;">
                                <img class="img-thumbnail" src="{{noticia.imagen}}" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">{{noticia.titulo}}</h5>
                                    <p class="card-text">{{noticia.texto}}</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Fecha de publicación: {{noticia.fecha}}</small>
                                    <p class="text-muted">Seccion:: {{noticia.seccion}}}</p>
                                    <p class="text-muted">Edicion: {{noticia.edicion}}</p>
                                </div>
                            </div>
                        </div>
                        @endeach
                    </div>
                </div>
        </div>
                   
      <div class="py-5 text-center container">
        <a href="/revista">
          <button type="button">
          Cargar todas la noticias
          </button>
       </a>
      </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Este es un parcial de bases de datos &copy; UMNG</p>
    <p class="mb-0">No sabes que estudiar? <a href="/">Visita UMNG Multimedia </a> o nuestra pagina oficial <a href="../getting-started/introduction/">Ingresa aqui</a>.</p>
  </div>
</footer>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>
